.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.margen {
    padding-left: 10px !important;
}

.circle-pic {
    width: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.centrado {
    padding-left: 35%;
}

@media screen and (max-height: 800px) {
    ion-content {
        --padding-top: 10%;
    }
}

@media screen and (max-height: 1400px) {
    ion-content {
        --padding-top: 5%;
    }
}